doctype html
html
  head
    meta(charset='utf-8')
    title IC HealthHack
    meta(name='description', content="IC HealthHack, a hackathon on game development and open-source software development with medical technology.")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='shortcut icon', type='image/png', href='images/favicon.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='css/styles.css')

  body
    header
      .header-content
        .inner
          img.logo(src='images/logo.png')
          br
          h3.txt-primary
            | 18
            sup th
            | - 19
            sup th
            |  March 2017
          br
          .btn-group(role='group')
            a.btn.btn-primary-outline.page-scroll.m-t-3(href='https://goo.gl/forms/VJKFb91UupGfaPup1')
              i.ion-email.hidden-md-up
              span.hidden-sm-down Subscribe to the mailing list

            a.btn.btn-primary-outline.page-scroll.m-t-3(href='https://www.facebook.com/events/244813969309795/')
              i.ion-social-facebook.hidden-md-up
              span.hidden-sm-down Visit our Facebook page

    section#about.bg-grey
      .container
        .row
          .col-lg-6.col-md-6.text-center
            h2.txt-primary What is HealthHack?
            hr.primary
            p Imperial College is a leading university with world-class engineering and medicine faculties. Health Hack brings our community together to work on ideas which require interdisciplinary excellence. We are focused on serious games in the public health sector taking advantage of biomedical technologies. The mix of bioengineering, coding skills and domain-specific medical knowledge is why you should be excited about this event. You will also get to meet all the amazing researchers and developers who will be there to provide each team with genuine support and ideas because you will work on the causes they care about.
          .col-lg-6.col-md-6.text-center
            h2.txt-primary Our Values
            hr.primary
            p
              | This event is our first step in an effort to nurture a community of students interested in games and open-source software development with medical technology. Our aim is to create a community of active young people who employ their acquired knowledge to tackle health issues and relieve thousands of people from their suffering. You - the participants, will shape this community the way you want it to be and we will always be there to facilitate your efforts and make the occasional hotfix when everything breaks 🙂. The three values which should stand out to you when reading this are
              strong  inspire, share, deliver
              | .

    section#partners
      .container
        .row
          .col-lg-12.text-center
            h2.txt-primary Partners
            hr.primary
      .container
        .row
          .col-xs-4.col-sm-4.col-md-4.col-lg-4.text-center
            .feature
              a(href="https://www.union.ic.ac.uk/medic/medtechimperial/")
                img.partner(src='images/medtech.png')
          .col-xs-4.col-sm-4.col-md-4.col-lg-4.text-center
            .feature
              a(href="http://docsoc.co.uk")
                img.partner(src='images/docsoc.png')
          .col-xs-4.col-sm-4.col-md-4.col-lg-4.text-center
            .feature
              a(href="https://www.union.ic.ac.uk/guilds/bioeng/")
                img.partner(src='images/icbe.png')

    // scripts loaded here
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='js/scripts.js')

