doctype html
html
  head
    meta(charset='utf-8')
    title IC HealthHack
    meta(name='description', content="IC HealthHack, a hackathon on game development and open-source software development with medical technology.")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color', content='#40ad6a')

    link(rel='shortcut icon', type='image/png', href='images/favicon.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='css/styles.css')

    script(src='https://use.fontawesome.com/a9b62862e2.js')

  body

    nav.navbar.fixed-top.navbar-toggleable-md.navbar-default
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon.stack
      a.navbar-brand.text-light.page-scroll(href='#home') HealthHack
      #navbarNavAltMarkup.collapse.navbar-collapse
          .navbar-nav
             a.nav-item.nav-link.page-scroll.text-center(href='#about') About
             a.nav-item.nav-link.page-scroll.text-center(href='#sponsors') Sponsors
             a.nav-item.nav-link.page-scroll.text-center(href='#partners') Partners
             a.nav-item.nav-link.page-scroll.text-center(href='https://ichealthhack.github.io/hub') Hub
             a.nav-item.nav-link.page-scroll.text-center.hidden-lg-up(href='https://github.com/ichealthhack') GitHub
             a.nav-item.nav-link.page-scroll.text-center.hidden-lg-up(href='https://www.eventbrite.co.uk/e/ic-healthhack-tickets-32275049542') Tickets
      a.navbar-icons.hidden-md-down(href='https://github.com/ichealthhack')
        i.fa.fa-github.fa-2x(aria-hidden='true')
      a.navbar-icons.hidden-md-down(href='https://www.eventbrite.co.uk/e/ic-healthhack-2018-tickets-43550474642')
        i.fa.fa-ticket.fa-2x(aria-hidden='true')

    header#home
      .header-content
        .inner
          img.logo(src='images/logo.png')
          br
          h3.txt-primary
            = '17'
            sup th
            = '- 18'
            sup th
            = ' March 2018'
          br
          .btn-group(role='group')
            a.btn.btn-primary-outline.page-scroll.m-t-3(href='https://goo.gl/forms/VJKFb91UupGfaPup1')
              i.ion-email.hidden-md-up
              span.hidden-sm-down Subscribe to the mailing list

            a.btn.btn-primary-outline.page-scroll.m-t-3(href='https://www.facebook.com/events/1698424526881229/')
              i.ion-social-facebook.hidden-md-up
              span.hidden-sm-down Visit our Facebook page

    section#about.bg-grey
      .container
        .row
          .col-lg-6.col-md-6.text-center
            h2.txt-primary What is HealthHack?
            hr.primary
            p Imperial College is a leading university with world-class engineering and medicine faculties. Health Hack brings our community together to work on ideas which require interdisciplinary excellence. We are focused on serious games in the public health sector taking advantage of biomedical technologies. The mix of bioengineering, coding skills and domain-specific medical knowledge is why you should be excited about this event. You will also get to meet all the amazing researchers and developers who will be there to provide each team with genuine support and ideas because you will work on the causes they care about.
          .col-lg-6.col-md-6.text-center
            h2.txt-primary Our Values
            hr.primary
            p
              = 'This event is our first step in an effort to nurture a community of students interested in games and open-source software development with medical technology. Our aim is to create a community of active young people who employ their acquired knowledge to tackle health issues and relieve thousands of people from their suffering. You - the participants, will shape this community the way you want it to be and we will always be there to facilitate your efforts and make the occasional hotfix when everything breaks 🙂. The three values which should stand out to you when reading this are'
              strong  inspire, share, deliver
              = '.'

    section#schedule.bg-theme.txt-light
      .container.text-center
         h2 Schedule
         hr.light
         .row
           .col-lg-6.col-md-6
             table.table.table-striped
               thead
                 tr
                   th.text-center(colspan="2") Saturday 18th March
               tbody
                 tr
                   td 10:00 AM
                   td Participants arrive
                 tr
                   td 11:00 AM
                   td Opening ceremony
                 tr
                   td 01:00 PM
                   td Lunch
                 tr
                   td 01:30 PM
                   td Hacking Starts
                 tr
                   td 08:00 PM
                   td Dinner

           .col-lg-6.col-md-6
             table.table.table-striped
               thead
                 tr
                   th.text-center(colspan="2") Sunday 19th March
               tbody
                 tr
                   td 10:00 AM
                   td Hacking resumes
                 tr
                   td 01:00 PM
                   td Lunch
                 tr
                   td 03:00 PM
                   td Hacking ends
                 tr
                   td 03:30 PM
                   td Teams present
                 tr
                   td 05:30 PM
                   td Closing ceremony
      .container.text-center
        h6 Location: Sir Alexander Fleming Building, Imperial College London, South Kensington, SW7 2BB


    section#sponsors
      .container
        .row
          .col-lg-12.text-center
            h2.txt-primary Sponsors
            hr.primary
      .container
        br

        hr.primary
        .row
          .col-lg-12
            p.text-center
              = 'Interested in sponsoring? '
              a(href='mailto:docsoc@imperial.ac.uk') Get in touch.

    section#partners.bg-grey
      .container
        .row
          .col-lg-12.text-center
            h2.txt-primary Partners
            hr.primary
      .container
        .row
          .col-xs-4.col-sm-4.col-md-4.col-lg-4.text-center
            .feature
              a(href="http://www.icsmsu.com/exec/clubssocs/education-and-volunteer/")
                img.partner(src='images/icsm_coding.png')
          .col-xs-4.col-sm-4.col-md-4.col-lg-4.text-center
            .feature
              a(href="http://docsoc.co.uk")
                img.partner(src='images/docsoc.png')
          .col-xs-4.col-sm-4.col-md-4.col-lg-4.text-center
            .feature
              a(href="https://www.union.ic.ac.uk/guilds/bioeng/")
                img.partner(src='images/icbe.png')

    // scripts loaded here
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='js/scripts.js')
